/*
Dialog box styling start
*/
.background-yellow{
    background : yellow;
}
.heading-color{
    color:red;
}
/*
Dialog box styling end
*/

/*box shadow css start*/
/*example 1 start*/
.shadow-box-one{
    border : 7px solid black;
    box-shadow : 20px 10px red;
}
.shadow-box-two{
    border : 7px solid black;
    box-shadow : -20px -10px red;
}
.shadow-box-three{
    border : 7px solid black;
    box-shadow : 20px -10px 10px red;
}
.shadow-box-four{
    border : 7px solid black;
    box-shadow : 20px -35px red;
}
.shadow-box-five{
    border : 7px solid black;
    box-shadow : 10px 10px red inset;
}
.shadow-box-six{
    border : 7px solid black;
    box-shadow : 7px 7px green inset, 7px 7px red , -7px -7px violet ,-14px -14px blue;
}
.shadow-box-seven{
    border : 7px solid black;
    box-shadow : 0px 0px 20px 10px red;
}
.shadow-box-eight{
    border : 7px solid black;
    box-shadow : 0px 0px 20px 10px red;
    border-radius : 20px 20px 20px 20px;
}
/* example 1 ends*/

/* example 2 starts*/
.shadow-box-bg-one{
    background : black;
    color : white;
    border : 7px solid black;
    box-shadow : 10px 10px black;
}
.shadow-box-bg-two{
    background : black;
    color : white;
    border : 7px solid black;
    box-shadow : 10px 10px 7px red;
}
.shadow-box-bg-three{
    background : black;
    color : white;
    border : 7px solid black;
    box-shadow : 5px 5px red, -8px -8px blue;
}
/* example 2 ends */
/*box shadow css end*/

/*Text shadow example starts*/
.text-shadow-yellow{
    text-shadow : 5px 5px 6px yellow;
    color : yellow;
}
.text-shadow-violet{
    text-shadow : 5px 5px 6px #9d53c3;
    color : #9d53c3;
}
/*Text shadow example ends*/

/*text orientation and color example starts*/
.box-border{
    border : 7px solid black;
}
.orientation-text{
    writing-mode : vertical-rl;
}

/*text color starts*/
.text-brown{
    color : #45171d;
}
.text-blue{
    color : #070f4e;
}
.text-green{
    color : #004445;
}
.text-grey{
    color:grey;
}



.text-heading-red{
    color:red;
}
.text-heading-green{
    color:green;
}
.text-heading-blue{
    color:blue;
}
.text-heading-green-two{
    color : #346357;
}



.box-backgound{
    background : #f6e198;
    border : 3px solid black;
    padding : 10px;
}
.text-violet{
    color : #9d53c3;
}
.custom-font{
    font-family : Herculanum;
}
/*text color ends*/
/*text orientation and color example ends*/

/*<!--Text orientation start-->*/
.text-orientation-horizontal{
    text-transform:uppercase;
    text-align : center;
}
.text-orientation-verticle{
    text-transform:uppercase;
    writing-mode : vertical-rl;
}
/*<!--Text orientation end-->*/

/*text- align center demo starts*/
.text-alignment{
    text-align:justify;
}
/*text- align center demo ends*/

/*box border example 2 starts*/
.box-border-background{
    background : #f1d18a;
}
.box-border-grey-thin{
    border : 3px solid grey;
    padding: 5px;
}
.box-shadow-black{
    box-shadow : 5px 5px 0px black;
}
.box-shadow-black-reversed{
    box-shadow : -10px -10px 0px black;
}
.box-shadow-blue{
    box-shadow : -10px 10px 0px blue;
}
.box-shadow-black-three{
    box-shadow : 10px 0px 0px black;
}
/*box border example 2 ends*/

/*Text shadow example starts*/
.text-shadow-example2-one{
    text-shadow : 3px 3px 2px black;
}
.text-shadow-example2-two{
    text-shadow : 3px 3px 2px #900048;
}
.text-shadow-example2-three{
    text-shadow : 3px 3px 15px black;
}
.text-shadow-example2-four{
    text-shadow : 3px 3px 2px #7dd87d;
    color:white;
}
.text-shadow-example2-five{
    text-shadow : 1px 1px 5px red;
}
.text-shadow-example2-six{
    text-shadow : 1px 1px 5px #c50d66;
}
.text-shadow-example2-seven{
    text-shadow : 1px 1px 5px blue;
    color : white;
}
/*Text shadow example ends*/

/*Text orientation starts*/
.box-orientation-background{
    background:green;
    text-align:center;
    color:white;
    writing-mode : vertical-rl;
    height : 300px;
}
/*Text orientation ends*/