/*example 1*/
.row1-example1
{
    border : 2px solid red;
    height: 400px;
}
.row2-example1
{
    border : 2px solid red;
    height: 50px;
}.row3-example1
{
    height: 300px;
}.row4-example1
{
    border : 2px solid red;
    height: 50px;
}
.row5-example1{
    box-shadow:10px 0px 0px 0px blue inset, -10px 0px 0px 0px blue inset;
    height: 300px;
}
/*example 1*/

/*example 2 starts*/
.row1-example2{
    border:2px solid blue;
    height: 600px;
    width: 600px;
}
.col1-example2{
    border:2px solid blue;
    height: 600px;
}
.row2-example2{
    height:200px;
    border:2px solid blue;
}
.row3-example2{
    height:50px;
    border:2px solid blue;
}
.row4-example2{
    height:100px;
    border:2px solid blue;
}
.background-corner{
    background:red;
}
.background-middle-edge{
    background:yellow;
}
.background-center-box{
    background:green;
}
/*example 2 ends*/