/*example one starts*/
.heading-column-one-row-one{
    border : 10px solid #64D498;
    text-align:center;
}
.heading-column-one-row-two{
    border : 10px double #64D498;
    text-align:center;
}
.heading-column-one-row-three{
    border : 10px ridge #64D498;
    text-align:center;
}

.heading-column-two-row-one{
    border : 10px dashed #64D498;
    text-align:center;
}
.heading-column-two-row-two{
    border : 10px groove #64D498;
    text-align:center;
}
.heading-column-two-row-three{
    border : 10px inset #64D498;
    text-align:center;
}

.heading-column-three-row-one{
    border : 10px dotted #64D498;
    text-align:center;
}
.heading-column-three-row-two{
    border : 10px none #64D498;
    text-align:center;
}
.heading-column-three-row-three{
    border : 10px outset #64D498;
    text-align:center;
}
/*example one ends*/

/*example two starts*/
.outer-border-blue{
    border : 3px solid blue;
    width : 480px;
}
.inner-border-red{
    border : 3px solid red;
    text-align : justify;
    transition:all 2s;
}
.inner-border-red:hover{
    border-radius : 30px 30px 30px 30px;
    transition : all 2s;
}
/*example two ends*/

/*example 3 starts*/
.example-3-border{
    border : 3px solid grey;
    width : 800px;
}
.image-container{
    width : 800px;
    border-radius : 7px;
}
.image-border-style{
    border : 4px dotted red;
    width : 810px;
    border-radius : 7px;
}
.box-shadow-rounded{
    box-shadow : 10px 10px 0px yellow , -10px -10px 0px yellow;
    border-radius : 20px;
    width : 810px;
}
/*example 3 ends*/

/*example 4 starts*/
.width-div{
    width : 150px;
}
.color-aqua{
    color : aqua;
}
.color-violet{
    color : #7030A0;
}

.color-primary{
    background : yellow;
    color : black;
}
.color-secondary{
    background : black;
    color : yellow;
}
/*example 4 ends*/

/*example 5 starts */
.video-heading{
    border : 3px solid black;
    transition : all 3s;
}
.video-heading:hover{
    border : 3px solid red;
    box-shadow : 10px 10px 20px black;
    color : red;
    transition : all 3s;
}
.video-container{

}
.video-element{
    width : 800px;
    height : 500px;
}
/*example 5 ends */

/*example 6 start*/
.img-music{
    width : 280px;
    height : 280px;
    transition:all 2s;
}
.img-music:hover{
    width:300px;
    height:300px;
    transition : all 2s;
}
.audio-container{
    border : 3px solid black;
    width : 400px;
    height : 440px;
    transition : all 2s;
}
.audio-container:hover{
    border : 3px solid red;
    width : 440px;
    height : 480px;
    box-shadow : 10px 10px 10px red;
    transition : all 2s;
}
/*example 6 ends*/

/*example 7 start*/
.example-7-border{
    border : 3px solid black;
}
/*example 7 end*/