:root{
    --color1:#1557b7;
    --bgcolor:repeating-linear-gradient(40deg,#c0c0c0 10%, rgba(255,255,255,0.4) 20%);
}
body{
    background:url(../images/todoroki.jpg);
    background-size:cover;
}
#box{
    min-height:300px;
    width:400px;
    position:absolute;
    right:-350px;
    top:120px;
    transition: all 0.5s;
}
#box:hover{
    min-height:300px;
    width:400px;
    position:absolute;
    right:0px;
    top:120px;
    transition: all 0.5s;
}
#left{
    min-height:300px;
    width:50px;
    float:left;
}
#right{
    min-height:300px;
    width:350px;
    float:left;
    background:var(--bgcolor);
    border-radius:5px 0px 0px 5px;
    padding:25px;
    box-sizing:border-box;
}
.a{
    height:50px;
    width:50px;
}
.b{
    height:200px;
    width:50px;
    background:var(--bgcolor);
    border-radius:5px 0px 0px 5px;
    text-align:center;
    font-size:26px;
    padding-top:22px;
    box-sizing:border-box;
    box-shadow:0px 0px 15px 2px black;
    color:var(--color1);
    border:5px double var(--color1);
    box-sizing:border-box;
}
.txt{
    height:50px;
    width:100%;
    margin-bottom:10px;
    background:#e8e8ff;
    border:none;
    border-radius:5px 5px 5px 5px;
    padding-left:15px;
    color:red;
}
.btn{
    height:50px;
    width:100%;
    background:var(--color1);
    color:white;
    border:none;
    border-radius:5px 5px 5px 5px;
}