.header_background{
    background : #e46161;
}
.text-right{
    text-align:right;
}
.text-left{
    text-align:left;
}
.ordered_list_decimal_leading_zero{
    list-style-type: decimal-leading-zero;
}
.normal-marquee-background{
    background : #347474;
}
.ticker-marquee-background{
    background : #6643b5;
}
.ticker-up li{
    margin-bottom: 15px;
    font-size: 18px;
}
.ticker-down li{
    margin-bottom: 15px;
    font-size: 18px;
}
.ticker-left li {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
}
.ticker-right li {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
}

.nested-list-example-three-color-one{
    color : #5dacbd;
}
.nested-list-example-three-color-two{
    color : #c24d2c;
}
.nested-list-example-three-color-three{
    color : #6643b5;
}
.nested-list-example-three-color-four{
    color : #42b883;
}
.nested-list-example-three-color-five{
    color : #f1b963;
}